


.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background-color: #ebeeef;
  border-radius: 4px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;

}

.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  flex: 1 1 23%; /* Adjust width as needed */
  height: fit-content;
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: fit-content;
  width: fit-content;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
}

.content{
  background-color: #bdc5c7;
  padding-left: 10px;
  margin-left: -12px;
  margin-right: -12px;
}
.card .content .rate {
  font-size: larger;
  font-weight: bold;
}
.card .content .kilometer {
  font-size: medium;
}
.card .content .name {
  font-size: small;
}
.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
  padding-bottom: 10px;
  margin-right: 10px;
}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}

.postParentDiv{
  padding-left: 100px;
  padding-right: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .card {
    flex-basis: 48%; /* Adjust width for smaller screens */
  }
}